@import "node_modules/ol/ol.css";

html, body {
  margin: 0px;
  height: 100%;
}






.map {
  width: 100%;
  height: calc(100% - 3.5em);
  z-index: 0;
}


.nosupport {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.notification-bar {
  width: 100%;
  height: 1.5em;
  display: table;
}
.notification-bar > div {
  height: 100%;
  display: table-cell;
  border: 1px solid grey;
  width: 34%;
  box-sizing: border-box;
  vertical-align: middle;
}
.notification-bar .message-bar {
  width: 66%;
}
.notification-bar .ol-mouse-position {
  font-family: monospace;
  text-align: center;
  position: static;
}
.toolbar {
  height: 2em;
  display: table;
  padding-left: .2em;
}
.toolbar .ol-control {
  position: static;
  display: table-cell;
  vertical-align: middle;
  padding: 0;
}
.toolbar .ol-control button {
  border-radius: 2px;
  background-color: rgba(219,63,63,.5);
  width: 2em;
  display: inline-block;
}
.toolbar .ol-control button:hover {
  background-color: rgba(219,63,63,1);
}
.layertree {
  width: 20%;
  height: calc(100%-3.5em);
  float:left;
}
.layertree .layertree-buttons {
  height: 2em;
  border-bottom: 1px solid grey;
}
.layertree .layercontainer {
  position: relative;
  height: calc(100% - 2em);
  overflow-y: auto;
}
.layercontainer .layer {
  position: relative;
  height: 2em;
}
.layer span:first-of-type {
  position: absolute;
  left: 1.5em;
  max-width: calc(100% - 1.5em);
}

#element {
	height: 120px;
	width: 120px;
  background: none;
	margin-bottom: 50px;
}


#tools {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
#tools a {
  display: inline-block;
  padding: 0.5rem;
  background: white;
  cursor: pointer;
}


.ol-popup h1 {
  font-size: 1em;
  background-size: 2em;
  padding-left: 3em;
}

.iadd_logo_logo {
  z-index: 500;
  position: absolute;
  max-width: calc(25% - 1.5em);
  max-height: calc(25% - 1.5em);

  bottom: 0;
  right: 0;
}

.olControlLayerSwitcher {
  background-color: transparent;
  color: white;
  font-family: sans-serif;
  font-size: smaller;
  font-weight: bold;
  margin-bottom: 3px;
  margin-left: 3px;
  margin-top: 3px;
  position: absolute;
  right: 0;
  top: 42px;
  width: 20em;
}

#select_feature {
  position: absolute;
  z-index: 500;
  top: 1%;
  left: 10%;

}

#create_feature {
  position: absolute;
  z-index: 500;
  top: 1%;
  left: 18%;
}

#modify_feature {
  position: absolute;
  z-index: 500;
  top: 1%;
  left: 26%;
}

#delete_feature {
  position: absolute;
  z-index: 500;
  top: 1%;
  left: 34%;
}


#toggle_editing {
  position: absolute;
  z-index: 500;
  top: 1%;
  left: 55%;
}